# extensions
.VSCodeCounter/

team-project-26spring-26s-23-agent-struct/
team-project-26spring-26s-23-frontend-ui-consistence/
database-root/**/*.db
backend/database-root/**/*.db
backend/env-user-data/**/*.db
